* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
}

.photo_img {
    width: 50%;
    height: 100%;
}

.container {
    width: 50%;
    height: 100%;
}

.input_container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 41px;
}

.input_container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 41px;
}

input {
    width: 352px;
    height: 41px;
}

.photo_img {
    width: 600px;
    height: 720px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    position: absolute;
    top: 200px;
    left: 600px;
    width: 400px;
    height: 350px;
}

.container_2 {
    display: block;
    width: 352px;
    height: 41px;
    position: absolute;
    top: 240px;
}

.facebook_btn {
    width: 352px;
    height: 41px;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    background-color: #4267B2;
    color: white;
}

.google_btn {
    width: 352px;
    height: 41px;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: black;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;

    position: absolute;
    width: 352px;
    height: 41px;

    border: 1px solid rgba(27, 27, 27, 0.1);
    border-radius: 14px;

}


.apple_btn {
    width: 352px;
    height: 41px;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
}

.or_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;

    position: absolute;
    top: 210px;
    margin: auto;
    justify-content: center;

}


.login_btn {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;

    position: absolute;
    width: 352px;
    height: 41px;
    top: 170px;

    background: #3DCBB1;
    border-radius: 14px;

}