* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-image: url("../Photos/Image.png");
  width: 1500px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.container_index {
  position: absolute;
  left: 200px;
  top: 600px;
  background-color: white;
  width: 1200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.input {
  &_1 {
    position: absolute;
    top: 120px;
    left: 10.56%;
    right: 62.43%;
  }

  &_2 {
    position: absolute;
    top: 120px;
    left: 39.24%;
    right: 43.54%;
  }

  &_3 {
    position: absolute;
    top: 120px;
    left: 58.12%;
    right: 24.65%;
  }
}

.treding_img_1 {
  position: absolute;
  width: 590px;
  height: 632px;
  left: -50px;
}

.treding_container {
  position: absolute;
  width: 700px;
  height: 632px;
  left: 120px;
  top: 1611px;

  &_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 285px;
    height: 318px;
    left: 730px;
    top: 1611px;
  }

  &_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 285px;
    height: 318px;
    left: 1035px;
    top: 1607px;
  }

  &_4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 285px;
    height: 300px;
    left: 730px;
    top: 1943px;
  }

  &_5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 285px;
    height: 300px;
    left: 1035px;
    top: 1939px;
  }
}

.index_text {
  position: absolute;
  left: 200px;
  top: 50px;
}

.search_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  position: absolute;
  width: 179px;
  height: 50px;
  left: 980px;
  top: 100px;
  border: none;
  background: #3dcbb1;
  border-radius: 18px;
}

nav {
  display: flex;
  gap: 50px;
}

.login_btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  position: absolute;
  left: 78.92%;
  right: 16.7%;
  border: 1px solid rgba(27, 27, 27, 0.9);
  border-radius: 12px;
}

.Sign_in_btn {
  position: absolute;
  left: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  background: #3dcbb1;
  border-radius: 12px;
}

.search_input {
  position: absolute;
  left: 35.42%;
  right: 36.81%;
  top: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.center_text {
  position: absolute;
  width: 794px;
  height: 62px;
  left: 323px;
  top: 266px;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #ffffff;
}

.center_text_2 {
  position: absolute;
  width: 590px;
  height: 36px;
  left: 425px;
  top: 344px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: rgba(249, 249, 249, 0.9);
}

.courses {
  &_list {
    display: flex;
    gap: 10px;
    position: absolute;
    width: 467px;
    height: 30px;
    left: 487px;
    top: 827px;
  }

  &_text {
    position: absolute;
    left: 515px;
    top: 800px;
  }
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 900px;
  left: 300px;
}

.join_container {
  position: absolute;
  width: 1200px;
  height: 307px;
  left: 5%;
  top: 1189px;
  background-color: #1b283f;
  color: white;

  .join_h3 {
    position: absolute;
    width: 425px;
    left: 60px;
    top: 19.54%;
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }

  .join_text,
  .join_text_2 {
    position: absolute;
    width: 830px;
    left: 60px;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.6);
  }

  .join_text {
    top: 35.83%;
  }
  .join_text_2 {
    top: 48%;
  }

  .Join_btn {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    position: absolute;
    left: 60px;
    top: 67.1%;
    background: #3dcbb1;
    border-radius: 3px;
  }
}

.footer {
  position: absolute;
  width: 100%;
  height: 302px;
  top: 2900px;
  background-color: black;

  li {
    cursor: pointer;
    color: white;
    list-style: none;
  }

  .footer_text {
    position: absolute;
    left: 8.33%;
    bottom: 7.95%;
    font-size: 16px;
    color: rgba(249, 249, 249, 0.6);
  }
}

.before_footer_container {
  background-color: #ffec8a;
  position: absolute;
  width: 100%;
  height: 171px;
  left: 0px;
  top: 2740px;
}

.before_text {
  position: absolute;
  width: 616px;
  height: 26px;
  left: 412px;
  top: 55px;

  font-family: "Gilroy";
  font-size: 20px;
  line-height: 26px;

  color: #000000;
}

.started_btn {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;

  position: absolute;
  width: 124px;
  height: 41px;
  left: 630px;
  top: 90px;

  border: 1px solid rgba(27, 27, 27, 0.6);
  border-radius: 14px;
}

ul {
  position: absolute;
  left: 29.51%;
  top: 13.25%;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  &_2 {
    position: absolute;
    top: 13.25%;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  &_3 {
    position: absolute;
    top: 13.25%;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }
}

.ul_2 {
  position: absolute;
  left: 600px;
  top: 13.25%;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.ul_3 {
  position: absolute;
  left: 800px;
  top: 13.25%;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.webinar_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: absolute;
  width: 285px;
  height: 296px;
  left: 120px;
  top: 2386px;

  &_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 285px;
    height: 278px;
    left: 425px;
    top: 2386px;
  }

  &_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 285px;
    height: 296px;
    left: 730px;
    top: 2386px;
  }

  &_4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 285px;
    height: 296px;
    left: 1035px;
    top: 2386px;
  }
}

.webinar_teg {

  position: absolute;
  width: 229px;
  height: 31px;
  left: 606px;
  top: 2315px;

  font-family: "Gilroy";
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #000000;
}
