$primary-color: #3dcbb1;
$text-color-dark: rgba(27, 27, 27, 0.9);
$text-color-light: rgba(27, 27, 27, 0.6);
$box-shadow-light: 0px 6px 20px rgba(0, 0, 0, 0.05);
$box-shadow-medium: 0px 10px 30px rgba(0, 0, 0, 0.15);
$border-radius-small: 3px;
$border-radius-medium: 6px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 60px;
  left: 0;
  top: 0;

  .logo {
    position: absolute;
    width: 151.59px;
    height: 43px;
    left: 105px;
    top: 9px;
  }

  .avatar {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1284px;
    top: 12px;
  }

  .Browse {
    position: absolute;
    width: 79px;
    height: 21px;
    left: 301px;
    top: 20px;
    cursor: pointer;
  }

  .nav_input,
  .nav-center {
    position: absolute;
    left: 35.42%;
    right: 36.81%;
    top: 20%;
    bottom: 18.33%;
  }

  .instructor_text {
    position: absolute;
    width: 134px;
    height: 21px;
    right: 258px;
    top: 20px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1b1b1b;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_text_1 {
  position: absolute;
  width: 119px;
  height: 26px;
  left: 660px;
  top: 120px;
}

ul {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 150px;
  left: 470px;
}

li {
  list-style: none;
}

.avatar_img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 680px;
  top: 224px;

  border-radius: 100px;
}

.name {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 336px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;

}

.last_name {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 440px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;


  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.6);
}

.doe {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 520px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;



  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(27, 27, 27, 0.9);
}

.headline {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 580px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;



  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(27, 27, 27, 0.6);
}

.language {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 640px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;



  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.6);
}

.english {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 660px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;



  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(27, 27, 27, 0.9);
}

.links {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 710px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;



  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(27, 27, 27, 0.6);
}

.link {
  position: absolute;
  width: 587px;
  height: 49px;
  left: 427px;
  top: 770px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;



  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(27, 27, 27, 0.9);
}

.save_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;

  position: absolute;
  width: 179px;
  height: 41px;
  left: 631px;
  top: 830px;
  border-radius: 6px;


  background: #3dcbb1;
  border-radius: 14px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 302px;
  top: 1000px;
  background-color: black;

  li {
    cursor: pointer;
    color: white;
    list-style: none;
  }

  .footer_text {
    position: absolute;
    left: 8.33%;
    bottom: 7.95%;
    font-size: 16px;
    color: rgba(249, 249, 249, 0.6);
  }
}

.ul {
  position: absolute;
  left: 29.51%;
  right: 60.97%;
  top: 13.25%;
  bottom: 79.8%;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  &_2 {
    position: absolute;
    left: 50.69%;
    right: 40.9%;
    top: 13.25%;
    bottom: 79.8%;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  &_3 {
    position: absolute;
    left: 71.88%;
    right: 20.62%;
    top: 13.25%;
    bottom: 79.8%;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &__photo {
    padding: 8px 16px;
    background: #3dcbb1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    top: 40px;
    left: 1284px;
    width: 160px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 8px 0;
    display: none;

    li {
      a {
        display: block;
        padding: 8px 12px;
        color: #1b1b1b;
        text-decoration: none;

        &:hover {
          background: rgba(61, 203, 177, 0.1);
        }
      }
    }
  }

  &:hover &__menu {
    display: block;
  }
}